{% extends 'base.html' %}

{% block content %}

<h1 style= "text-align:center; background-color: #477265; border-radius: 10px 10px 10px 10px; color: rgb(255, 255, 255); padding: 10px; font-family: 'verdana'; box-shadow: 5px 5px 5px #22302c;"
  >Tugas 4 Assignment PBP/PBD</h1>
<body style= "font-family: 'verdana'; padding: 15px; background-color: #233f42; color: #F2F2F2;">
    <h5 style= "text-align:center; font-size: 24px; text-shadow: 3px 3px 3px #22302c; text-transform: uppercase;">Hello, {{username}}!</h5>
    <p style= "font-size: 20px; text-shadow: 3px 3px 3px #22302c;"></p>
 
    <table style= "padding: 12px 15px; border-collapse: collapse; border-radius: 10px 10px 10px 10px; overflow: hidden; box-shadow: 8px 8px 8px #22302c;">
      <tr style= "text-transform: uppercase; background-color: #477265;">
        <th style= "padding: 10px;">Date</th>
        <th style= "padding: 10px;">Task Title</th>
        <th style= "padding: 10px;">Description</th>
        <th style= "padding: 10px;">Status</th>
        <th style= "padding: 10px;">Options</th>
      </tr>
      {% comment %} Add the data below this line {% endcomment %}
      {% for todo in list_todolist %}
      <tr style=" color: black;">
      </tr>
      {% endfor %}
    </table>
</body>

<h5 style= "text-align:center; background-color: #477265; border-radius: 10px 10px 10px 10px; color: rgb(255, 255, 255); padding: 10px; font-family: 'verdana'; box-shadow: 5px 5px 5px #22302c;">Sesi terakhir login: {{ last_login }}</h5>
<div class="flex-parent jc-center">
    <button style= "text-align:center; background-color: rgb(255, 255, 255); border-radius: 10px 10px 10px 10px; color: rgb(255, 255, 255); padding: 10px; font-family: 'verdana'; font-size: 15px;">
        <a href="{% url 'todolist:logout' %}">Create Task</a></button>
    <button style= "text-align:center; background-color: rgb(255, 255, 255); border-radius: 10px 10px 10px 10px; color: rgb(255, 255, 255); padding: 10px; font-family: 'verdana'; font-size: 15px;">
        <a href="{% url 'todolist:logout' %}">Logout</a></button>
</div>
{% endblock content %}