{% extends 'base.html' %}

{% block content %}

<!-- BOOTSTRAP -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<!-- Style HTML-->
<style>
    /* JUDUL */
    .mt-5 {
        text-align: center;
        color: rgb(41, 41, 41); 
        padding: 10px; 
        font-family: 'verdana'; 
    }
    .mb-5 {
        text-align: center;
        color: rgb(41, 41, 41); 
        padding: 10px; 
        font-family: 'verdana'; 
    }
    /* BODY TEMPLATE*/
    body {
        font-family: 'verdana'; 
        padding: 15px; 
        background-image: linear-gradient(90deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
        color: #000000;
    }
</style>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" style="text-align: center"href="#">A Todolist by Rafi Rasendrya Favian</a>
    </div>
</nav>
<body>
    <h1 class="mt-5" style="font-size: 12mm;">👋Halooo, {{username}}👋</h1>
    <h4 class="mb-5">😤 Yuk kerjain tugasnya! 😤 </h4>
    
    <div class="row row-cols-md-3 mx-auto" style="width: 90%;">
      
      {% for todo in list_todolist %}
        <div class="col">
            <div class="card border-primary mb-3">
                <div class="card-body">
                    
                    <h3 class="card-title" style="padding-bottom: 5px">{{todo.title}}</h3>
                    <h6 class="card-subtitle">📅{{todo.date}}</h6>
                    <p class="card-text">🚨{{todo.description}}</p>
                    <p class="card-text">
                        {% if todo.is_finished %}
                        ✅ Finished ✅
                        {% else %}
                        ❌ Not Finished ❌
                        {% endif%}
                    </p>
    
                    <p style="text-align: center;">
                        <a style="width: 10rem;" class="btn login_btn btn btn-success form-control" href="options/{{todo.id}}">Change Status</a>
                        <a style="width: 10rem;" class="btn login_btn btn btn-danger form-control lg" href="delete/{{todo.id}}">Delete</a>
                    </p>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>

    <p style="text-align: center; padding: 20px;">
        <a style="width: 10rem" class="btn login_btn btn btn-dark form-control" href="{% url 'todolist:create' %}">Create</a>
        <a style="width: 10rem" class="btn login_btn btn btn-dark form-control" href="{% url 'todolist:logout' %}">Logout</a>
    </p>

</body> 
{% endblock content %}