{% extends 'base.html' %}

{% block content %}

  <h1 style= "text-align:center; background-color: #2B4865; border-radius: 10px 10px 10px 10px; color: rgb(255, 255, 255); padding: 10px; font-family: 'verdana'; box-shadow: 5px 5px 5px #131e2c;"
  >Tugas 3 Assignment PBP/PBD</h1>
  
<body style= "font-family: 'verdana'; padding: 15px; background-color: #112033; color: #F2F2F2;">
  <h5 style= "font-size: 24px;">Name :</h5>
  <p style= "font-size: 20px;">{{nama}}</p>

  <h5 style= "font-size: 24px;"> Student ID: </h5>
  <p style= "padding-bottom: 20px; font-size: 20px;">{{npm}}</p>

  <table style= "padding: 12px 15px; border-collapse: collapse; border-radius: 10px 10px 10px 10px; overflow: hidden; box-shadow: 8px 8px 8px #131e2c;">
    <tr style= "text-transform: uppercase; background-color: #256D85;">
      <th style= "padding: 10px;">Watched</th>
      <th style= "padding: 10px;">Movie Title</th>
      <th style= "padding: 10px;">Rating</th>
      <th style= "padding: 10px;">Release Date</th>
      <th style= "padding: 10px;">Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for movies in list_mywatchlist %}
    <tr style=" color: black;">
        <td style= "text-align: center; padding: 12px; background-color: #8FE3CF">{{movies.film_watched}}</td>
        <td style= "text-align: center; padding: 12px; background-color: #85d1bf">{{movies.film_title}}</td>
        <td style= "text-align: center; padding: 12px; background-color: #8FE3CF">{{movies.film_rating}}</td>
        <td style= "text-align: center; padding: 12px; background-color: #85d1bf">{{movies.release_date}}</td>
        <td style= "text-align: center; padding: 12px; background-color: #8FE3CF">{{movies.film_review}}</td>
    </tr>
    {% endfor %}
  </table>
</body>
 {% endblock content %}
